* {
    font-family: 'Mate', serif;
}

.container {
    min-height: 300px;
    width: 900px;
}

textarea {
    min-height: 200px;
    min-width: 300px;
    margin-bottom: 15px;

}

#button {
    width: 100%;
    text-align: center;
    left: 50%;
    margin-top: 15px;
    height: 50px;
    background-color: #CCFFE5;
    color: black;
    transition: all 0.2s ease;
}
#button:hover {
    transform: scale(1.02);
}


strong {
    float: right;
}

h1,
h5 {
    text-align: center;
}


#button:hover {
    transform: scale(1.02);
}

.session-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 15px;
}

.session-list {
    border: solid 1px lightgrey;
    border-radius: 5px;
    text-align: center;
    flex: auto;
    font-size: 17px;
    align-content: center;
}

ul {
    list-style-type: none;
}

li {
    margin-left: -30px;
}

.good-sessions {
    background-color: #CCFFE5;
}

.wrong-sessions {
    background-color: #FFCCCC;
    margin: 15px 0 15px 0;
    line-height:1.2;
    padding-top:5px;
}
